
<div class="cart_section" *ngIf="product.length !=0" >
  <div class="container-fluid">
      <div class="row">
          <div class="col-lg-10 offset-lg-1">
              <div class="cart_container" >
                  <div class="cart_title">Shopping Cart<small> (1 item in your cart) </small></div>
                  <div class="cart_items" *ngFor="let p of product, let i= index" >
                      <ul class="cart_list">
                          <li class="cart_item clearfix">
                              <div class="cart_item_image">
                                <img src=
                               "{{p.productImage}}"
                                 alt="">
                                </div>
                              <div class="cart_item_info d-flex flex-md-row flex-column justify-content-between">
                                  <div class="cart_item_name cart_info_col" >
                                      <div class="cart_item_title">Product Name</div>
                                      <div class="cart_item_text">{{p.productName}}</div>
                                  </div>
                                  <div class="cart_item_color cart_info_col">
                                    <div class="cart_item_title">Color</div>
                                    <div class="cart_item_text"><span style="background-color:#999999;"></span>Silver</div>
                                </div>

                                  <div class="cart_item_quantity cart_info_col">
                                      <div class="cart_item_title">Quantity</div>
                                      <div class="cart_item_text">
                                        <button  class="btn"id="plus" type="button" (click)="inc(p.productId,p.quantity)"><i class="fa fa-plus"></i></button>
                                        <span class="border">{{p.quantity}}</span>
                                        <button class="btn" id="minus" type="button" (click)="dec(p.productId,p.quantity)"><i class="fa fa-minus"></i></button>


                                      </div>

                                  </div>
                                  <div class="cart_item_price cart_info_col">
                                      <div class="cart_item_title">Price</div>
                                      <div class="cart_item_text">₹{{p. productPrice}}</div>
                                  </div>
                                  <div class="cart_item_total cart_info_col">
                                      <div class="cart_item_title">Total</div>
                                      <div class="cart_item_text">₹{{p.quantity*p.productPrice}}</div>
                                  </div>
                                  <div class="cart_item_price cart_info_col">
                                    <div class="cart_item_title">Remove</div>
                                    <div class="cart_item_text"><Button (click)="removeItem(p)">Remove </Button></div>
                                </div>

                              </div>
                          </li>
                      </ul>
                  </div>
                  <div class="order_total">
                      <div class="order_total_content text-md-right">
                          <div class="order_total_title">Order Total:</div>
                          <div class="order_total_amount">₹{{grandTotal}}</div>
                      </div>
                  </div>
                  <div class="cart_buttons"> <button type="button" routerLink="" class="button cart_button_clear">Continue Shopping</button>
                    <button routerLink="/checkout" type="button" class="button cart_button_checkout">Checkout</button> </div>
              </div>
          </div>
      </div>
  </div>
</div>
<div class="checkout_empty" *ngIf="product.length == 0">



<!---------------------------------------------- Shop Cart Empty --------------------------------------------------------->

  <div class="container-fluid  mt-100">
    <div class="row">

       <div class="col-md-12">

         <div class="card">

       <div class="card-body cart">
           <div class="col-sm-12 empty-cart-cls text-center">
             <img src="https://i.imgur.com/dCdflKN.png" width="130" height="130" class="img-fluid mb-4 mr-3">
             <h3><strong>Your Cart is Empty</strong></h3>
             <h4>Add something to make me happy :)</h4>
             <button  routerLink="" class="btn btn-primary cart-btn-transform m-3" data-abc="true">Continue Shopping</button>
           </div>
       </div>
   </div>
     </div>
    </div>
   </div>
 </div>
